<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Birds v1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75364B0F1E84EA65005A0202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75364B231E84EA65005A0202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75364B2E1E84EA65005A0202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
